sudo: required
dist: trusty
group: edge

language: node_js

os:
  - linux

node_js:
  - '14'

before_script:
  - npm install --legacy-peer-deps

before_install:
  - npm install -g npm
  - npm --version

after_success:
  - npm run coveralls
  - npm run coverage-clean
