.expanded-icon {

}

.expanded-icon-rotate {
  transform: rotate(90deg);
  transition: transform .3s;
}

.second-expanded-icon {
}

.second-expanded-icon-rotate {
  transform: rotate(90deg);
  transition: transform .3s;
}