.sidenav.expanded {
    min-width: 260px;

    .sidenav-nav > .sidenav-navitem {
        .navicon + .navtext {
            display: inline-block;
        }
    }

    .sidenav-nav > .sidenav-navitem {
        &.expandable > .navitem {
            cursor: pointer;
        }
    }

    .sidenav-subnav {
        position: static;
        border: none;
        float: left;
        clear: both;
        width: 100%;
        background: transparent;
        overflow: hidden;
        box-shadow: none;
    }

    .sidenav-nav > .sidenav-navitem.expanded .sidenav-subnav {
        display: block;
    }
    .sidenav-subnav {
        display: none;
    }

    .sidenav-subnav > .sidenav-subnavitem {
        position: relative;
    }
    .sidenav-subnav > .sidenav-subnavitem::before {
        content: " ";
        width: 100%;
        height: 28px;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .sidenav-subnav > .sidenav-subnavitem:first-child {
        display: none;
    }
    .sidenav-subnav > .sidenav-subnavitem {
        &.selected > .navitem {
            color: #2078E4;
        }

        > .navitem {
            display: flex;
            color: #09091A;
            padding: 7px 14px 7px 35px;
            line-height: 28px;
            font-size: 14px;
            background: #F8F8F9;
        }

        > .navitem > .navicon {
        }
    }
}

.level-1 {

  .navitem {
    display: flex;
    justify-content: space-between;
    background: #f8f8f9;
    padding-left: 58px;
  }

}

.level-2 {

  .sub-nav-item {
    display: flex;
    color: #09091A;
    padding: 7px 14px 7px 50px;
    line-height: 28px;
    font-size: 14px;
    background: #F8F8F9;
    outline: none;
    cursor: pointer;
  }
  
  .sub-menu-open > .sidenav-navitem > .navitem {
    outline: none;
    cursor: pointer;
    font-size: 14px;
  }
      
  
  .sub-nav-child > .navitem {
    display: flex;
    padding: 7px 14px 7px 50px;
    line-height: 28px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
    background: #f8f8f9;
  }

    
.second-sub-nav-child {
  &.selected > .navitem {
    color: #2078E4;
 }
 &.selected > .navitem > .navicon > i {
     color: #2078E4;
 }
}
        

.second-sub-nav-child > .navitem {
  display: flex;
  padding: 7px 14px 7px 50px;
  line-height: 28px;
  font-size: 14px;
  outline: none;
  background: #F8F8F9;
  cursor: pointer;

  &.selected {
      color: red;
  }
}
