.sidenav-nav {
    float: left;
    padding: 0;
    margin: 0;
    clear: both;
    list-style: none;
    width: 100%;
    border-top: 1px solid #C0C0C8;

    &.expanded {
        // keep this style
    }
}
