.sidenav-subnav > .sidenav-subnavitem {
    &.selected > .navitem > .navicon > i {
        color: #2078E4;
    }
    > .navitem {
        cursor: pointer;
        &:focus {
            outline: 0;
        }
    }
}
