.sidenav.expanded {
    min-width: 240px;

    .sidenav-nav > .sidenav-navitem {
        .navicon + .navtext {
            visibility: visible;
            opacity: 1;
            transition: opacity .2s linear;
        }
    }

    .sidenav-nav > .sidenav-navitem {
        &.expandable > .navitem {
            cursor: pointer;
        }
    }

    .sidenav-subnav {
        position: static;
        border: none;
        float: left;
        clear: both;
        width: 100%;
        background: transparent;
        overflow: hidden;
        box-shadow: none;
    }

    .sidenav-nav > .sidenav-navitem.expanded .sidenav-subnav {
        display: block;
    }
    .sidenav-subnav {
        display: none;
    }

    .sidenav-subnav > .sidenav-subnavitem {
        position: relative;
    }
    .sidenav-subnav > .sidenav-subnavitem::before {
        content: " ";
        width: 100%;
        height: 28px;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .sidenav-subnav > .sidenav-subnavitem:first-child {
        display: none;
    }
    .sidenav-subnav > .sidenav-subnavitem {
        &:hover::before {
            background: #ffffff;
            opacity: 0.15;
        }

        &::before {
            content: " ";
            width: 100%;
            height: 28px;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        &.selected > .navitem {
            color: #fff;
        }

        &.selected > .navitem::before {
            content: " ";
            width: 2px;
            height: 20px;
            left: 10px;
            top: 4px;
            position: absolute;
            border-left: 2px #ffffff solid;
        }

        &:hover > .navitem {
            background: transparent;
            color: #fff;
        }

        > .navitem {
            color: #f9dcdd;
            padding: 0 14px 0 20px;
            line-height: 28px;
        }
    }
}
