.sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1006;
    min-width: 64px;
    background: #FFFFFF;
    transition: min-width .15s;
}

.sub-menu-open {
  display: block;
}

.sub-menu-close {
  display: none;
}

.second-sub-menu-open {
  display: block;
}

.second-sub-menu-close {
  display: none;
}
