.sidenav-nav > .sidenav-navitem {
    clear: both;
    position: relative;

    &.highlighted > .navitem {
        cursor: default;
    }

    &:hover > .navitem::after {
        background: #fff;
        opacity: .15;
    }

    &.highlighted > .navitem::after,
    &:hover.highlighted > .navitem::after {
        background: #000;
        opacity: .2;
    }

    &.highlighted.expanded > .navitem::after,
    &:hover.highlighted.expanded > .navitem::after {
        background: #000;
        opacity: .25;
    }

    &.highlighted.selected.expanded > .navitem::after,
    &:hover.highlighted.selected.expanded > .navitem::after {
        background: #000;
        opacity: .2;
    }

    &:hover > .navitem .navicon,
    &.highlighted > .navitem .navicon {
        opacity: 1;
    }

    &:hover > .navitem .navicon,
    &:hover > .navitem .navtext,
    &.highlighted > .navitem .navicon,
    &.highlighted > .navitem .navtext {
        color: #fff;
        > * {
            color: #fff;
        }
    }

    > .navitem {
        position: relative;
        display: block;
        line-height: 50px;
        height: 50px;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        // Background layer
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            background: #fff;
            opacity: 0;
            z-index: -1;
        }
    }

    > .navitem .navicon,
    > .navitem .navtext {
        color: #f9dcdd;
        > * {
            color: #f9dcdd;
        }
    }

    > .navitem .navicon {
        display: block;
        float: left;
        width: 64px;
        height: 50px;
        margin-right: -6px;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        opacity: .7;
        line-height: 50px;
        text-align: center;
    }

    > .navitem .navicon + .navtext {
        width: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .2s, opacity .2s linear;
    }
}
