.sidenav-nav > .sidenav-navitem {
    clear: both;
    position: relative;

    &.highlighted > a {
        cursor: default;
    }

    &:hover > a::after {
        background: #fff;
        opacity: .15;
    }

    &.highlighted > a::after,
    &:hover.highlighted > a::after {
        background: #000;
        opacity: .2;
    }

    &.highlighted.expanded > a::after,
    &:hover.highlighted.expanded > a::after {
        background: #000;
        opacity: .25;
    }

    &.highlighted.selected.expanded > a::after,
    &:hover.highlighted.selected.expanded > a::after {
        background: #000;
        opacity: .2;
    }

    &:hover > a .sidenav-nav-icon,
    &.highlighted > a .sidenav-nav-icon {
        opacity: 1;
    }

    &:hover > a .sidenav-nav-icon,
    &:hover > a .sidenav-nav-text,
    &.highlighted > a .sidenav-nav-icon,
    &.highlighted > a .sidenav-nav-text {
        color: #fff;
    }

    > a {
        position: relative;
        display: block;
        line-height: 50px;
        height: 50px;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        font-size: 14px;

        // Background layer
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            background: #fff;
            opacity: 0;
            z-index: -1;
        }
    }

    > a .sidenav-nav-icon {
        display: block;
        float: left;
        width: 64px;
        height: 50px;
        margin-right: -6px;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        opacity: .7;
        line-height: 50px;
        text-align: center;

        color: #f9dcdd;
        > * {
            color: #f9dcdd;
        }
    }
    > a .sidenav-nav-icon + .sidenav-nav-text {
        display: none;
    }
}
