.sidenav-toggle {
    position: relative;
    float: left;
    width: 64px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    margin-right: -6px;

    &:focus {
        outline: none;
    }
}
