.sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1006;
    min-width: 64px;
    background: #FFFFFF;
    margin-top: 60px;
}

.sub-menu-open {
  display: block;
}

.sub-menu-close {
  display: none;
}

.level-1 {

  .sub-menu-open {
    display: block;
  }

  .sub-menu-close {
      display: none;
  }

}
